@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 900;
}

.my-border {
  border: 1px solid rgba(0, 0, 0, 0.056);
}

.placeholder::placeholder {
  color: white;
  opacity: 0.5;
}